.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: auto;
    margin-top: 16px; 
  }
  
  .avatarContainer {
    width: auto;
    height: 150px;
    position: relative;
  }
  
  .cardheader {
    margin-bottom: -10px;
    font-weight: bold;
    text-align: center;
  }
  