.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  /*background-color: white;*/
  backdrop-filter: blur(12px);
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}
label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.cart-trolley--link {
  position: relative;

  .cart-trolley {
    position: relative;
    font-size: 1rem;
    color: black;
  }

  .cart-total--item {
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    background-color: rgb(191, 0, 0);
    color: #ffff;
    font-weight: 500;
    border-radius: 50%;
    display: grid;
    place-content: center;
    top: -20%;
    left: 70%;
  }
}

.acive {
  background-color: aquamarine;
}

hr.one {
  border: none;
  height: 2px;
  background: #a8a8a8;
}

button.food {
  background-color: #4085ad;
  border: 0;
  border-radius: 4px;
  color: #ffff;
  /* font-weight: lighter; */
}

.retings-start{
  color: #d5ab55;
}
.total-reviws{
  font-size: 0.9rem;
  margin-left: 10px;
}

.product {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;

}

.card {
  overflow: hidden;
  /* background: beige ; */
  cursor: pointer;
  padding: 0.5rem;
  background-color: rgb(146, 146, 146); /* Fallback color */
  background-color: rgba(180, 180, 180, 0.4); /* Black w/opacity/see-through */
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: 1px solid #f1f1f1;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* z-index: 2; */
  /* text-align: center; */
}

.card-img {
  border: 1px solid var(--primary);
  border-radius: 0.3rem;
}

.card .contant .detail .info {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.card .contant .detail .info .title {
  color: var(--primary);
  font-weight: 300;
  text-transform: uppercase;
}

.card .contant .detail .info .price {
  color: #ccc;
  font-weight: 600;
}
.card .contant .detail button {
  margin-top: 1.875rem;
  margin-left: 20%;
  padding: 0.625rem 1.875rem;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .foodCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-left: 5px;
  }
}

.splash-screen {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kantumruy Pro", sans-serif;
  line-height: 1;
  font-weight: 400;
}

.splash-screen span {
  transition: none !important;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  margin-top: 8px;
}

.splash-screen > i > svg {
  width: 40px;
  height: auto;
}
